.results {
    margin: 0px auto;
    color: blue;
    width: 50%;
    text-decoration:none;
    color:#079ad8;
}


.resultsLink {
    font-family:Verdana, "Times New Roman", Times, serif;
    text-decoration:none;
    color:#079ad8;
}

body {
    margin-top: 120px;
}

.glyphicon {
    color: blue;
}
